<!--
  Este es el menú inicio, que se agrega al header
-->

    <header class="site-header">
      <nav class="site-nav">
        <!--Clase para fijar Pagina principal y al mismo tiempo link de retorno a principal-->

        <a style="text-decoration: none;color:white" class="home" href="{{ .Site.BaseURL }}">Homepage </a>
      
        <!--Crea listas de las carpetas que estan en content-->
        {{ range.Site.Menus.main }}
          
          <!--<body style="bgcolor: {{ $.Site.Params.color }};">-->
          <section class="mainMenu">
            <ul>
            
                <!--Parametros, se llaman desde config.toml-->
                <a  style="text-decoration: none;color:white;"  href="{{ .URL }}">{{ .Name }}</a>
                
            </ul>
          </section>
        {{ end }}
      </nav>
    </header>
