html{min-height: 100%; position: relative; }
/* LAYOUT */
.head-clase{
  display: flex;
  flex-direction: row;
  justify-content:baseline;
  background-color:rgb(40, 40, 40);

}

.titulo-principal{
  
  color: rgb(255, 254, 254);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 0;
  padding-right: 8rem;
  padding-top: 1.6rem;
  padding-bottom: 0rem;
  
  }

.imagen-head{
 
  padding-left: 4rem;
  padding-right: 0;
  padding-top: 4rem;
  padding-bottom: 0rem;
  
}

header{
  background-color: rgb(48, 192, 149);
  color:white;
  text-decoration: none;

}

body {
  background-color:white;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

body .content {
  background-color: white;
  margin: 5rem;
  padding-left: 4rem;
  padding-right:4rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  text-align: justify;
}

footer {

  background-color: rgb(44, 44, 44);
  margin: 0;
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  bottom: 0;
  position: relative;  
}

.footer__content {
  display:block;
  margin:0;
  

}

.derecha {

  margin: 0rem;
  padding-left: 2rem;
  padding-right: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 80%;
}

.izquierda {

  margin: 0rem;
  padding-left: 10rem;
  padding-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}
/* Navegación del menu */

/*sección de navegación por la página */

.site-nav {
  display: flex;
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100%;

}
/*
.site-nav a {
  display: block;
  

}*/
  /* link de retorno a homepage*/
  
.site-nav .home{
  background-color: rgb(248, 168, 201);
  font-weight: bold;
  display: flex;
  flex-direction: row; 
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align:center;
  font-family:inherit;
  border-color: white;
  border-width: 0.1rem;
  border-right-style: solid;
  
}
/*
.site-nav, a .home:link, a .home:visited, a .home:hover, a .home:active {
  color:lightgreen;
}
*/

/* listas de las carpetas que están en content */

.site-nav .mainMenu {
  background-color: rgb(48, 192, 149);
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
  text-align: left;
  padding-left: auto;
  padding-right: 3rem;
  padding-top: auto;
  padding-bottom: auto;
  color:inherit;
  font-family:inherit;
  border-color: white;
  border-width: 0.1rem;
  border-right-style: solid;

}

/*
@media screen and (max-width: 48rem) {
  .site-nav,
  .mainMenu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}
*/


/* LISTS */
.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
  font-weight: bold;
  
}
