<!-- 
This is a placeholder partial for the post header. Create a file called
layouts/partials/single/header.html in your own site to overwrite this
placeholder.
-->
        <!--
            <header>
                    <a title="Logo"
                    href="https://www.grupobancolombia.com/personas?gclid=EAIaIQobChMIvKOm2JyR8AIVE8DICh0Jrgi6EAAYASAAEgIrDvD_BwE">
                    <img
                    src="https://ibb.co/r4wDMKj" alt="Logo Bancolombia" 
                    />
                    </a>
            </header>
        -->