<!--Página con solo una publicación o homepage-->
<!DOCTYPE html>
<html>


{{ partial "head.html" . }}


<body>
    <section>
        {{- partial "header0.html" . -}}
    </section>

    <div class="body__content">
        <div class="menu-secundario">
            {{ partial "header1.html" . }}
        </div>

        <div class="cotenido-principal">
            <main class="content">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
                
            </main>
        </div>
    </div>
</body>


{{ partial "footer.html" . }}


</html>