<footer class="footer">
    <div class="footer__content">

        <div class="footer_izquierda">

            <img src="{{ .Site.BaseURL }}images/LogoWhite_T.PNG" alt="Logo" width="50%x">

        </div>

        <div class="footer_derecha">
            <section>
                <h1>Contáctanos</h1>
                Carrera 48#26-85 Medellín-Colombia</br>
                soportes@bancolombia.com.com</br>
                Bogotá (57 1)343 00 00</br>
                Medellín (57 4)510 90 00</br>
                Cali (57 2)254 05 05</br>
                Cartagena (57 7)697 25 25</br>
            
                &copy;{{ dateFormat "2006" now }} {{ .Site.Title }}
            </section>				
        </div>
    </div>						
</footer>