<!--Este es el menú inicio, que se agrega al header-->

<header>
    <nav class="site-nav1">

        <ul>

            {{ range where .Site.Pages "Section" "documentacion" }}
            {{ if eq (print .Parent) (print ($.Site.GetPage "documentacion")) }}


            <li class="menu-vert">
                <a href="{{ .Permalink }}">{{ .Name }}</a>

                <ul>
                    {{ range .CurrentSection.Sections -}}
                    <li class="submenu-vert">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>

                        <ul>
                            {{ range .CurrentSection.Pages -}}
                            <li class="submenu-vert-level2">
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        </ul>

                    </li>
                    {{ end }}
                </ul>

            </li>
            {{ end }}
            {{ end }}
        </ul>


    </nav>
</header>